<!DOCTYPE HTML>
<html>
<head>
    <title>Plantilla Clientes - CueTori</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/css/bootstrap3.3.7.min.css" rel='stylesheet' type='text/css' media="screen" />
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <script src="/js/jquery3.3.1.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/custom.js"></script>
    <link href="/css/custom.css" rel="stylesheet">
</head>
<body class="cbp-spmenu-push" onload="fillData()">
<div class="main-content">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        <aside class="sidebar-left">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="/home"><span class="fa fa-area-chart"></span>CueTori</a></h1>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="sidebar-menu">
                        <li class="header">Menú</li>
                        <li class="treeview">
                            <a href="/home">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="/rutas/clientes">
                                <i class="fa fa-group"></i> <span>Clientes</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href=" /rutas/prestamos">
                                <i class="fa fa-money"></i> <span>Préstamos</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="/rutas/pagos">
                                <i class="fa fa-list-alt"></i> <span>Pagos Realizados</span>
                            </a>
                        </li>
                        <li class="header">Accesibilidad</li>
                        <li>
                            <a href="/rutas/perfil">
                                <i class="fa fa-user"></i><span>Mi Perfil</span>
                            </a>
                        </li>
                        <li>
                            <a href="/rutas/usuarios">
                                <i class="fa fa-users"></i><span>Usuarios</span>
                            </a>
                        </li>
                        <li>
                            <a href="/rutas/roles">
                                <i class="fa fa-cog text-yellow"></i><span>Roles & Permisos</span>
                            </a>
                        </li>
                        <li class="header">Extras</li>
                        <li>
                            <a href="/rutas/bancos">
                                <i class="fa fa-bank"></i><span>Bancos</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
    </div>
    <!--left-fixed -navigation-->

    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <div class="profile_details_left"><!--notifications of menu start -->
                <ul class="nofitications-dropdown">
                    <li class="dropdown head-dpdn">
                        <a href="/#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue" id="notNum">0</span></a>
                        <ul class="dropdown-menu" id="notificaciones">

                        </ul>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <!--notification menu end -->
            <div class="clearfix"> </div>
        </div>
        <div class="header-right">
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="/#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
                                <span class="prfil-img"><img src="/images/profile128.png" id="pfp" alt="Imagen del Usuario"></span>
                                <div class="user-name">
                                    <p id="username"></p>
                                    <span id="role"></span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
            <div class="main-page">
                <div class="forms">
                    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
                        <div class="form-title">
                            <h4>{{client.title}}</h4>
                        </div>
                        <input type="hidden" name="comboBox[]" value="{{clientObj.sexo}}">
                        <input type="hidden" name="comboBox[]" value="{{clientObj.homeKind}}">
                        <input type="hidden" name="comboBox[]" value="{{clientObj.civilState}}">
                        <input type="hidden" name="comboBox[]" id="estado" value="{{clientObj.workState}}">

                        <form id="clientsForm" method="post" enctype="multipart/form-data" action="{{client.form}}">
                            <input type="hidden" name="clientId" id="clientId" value="{{clientObj.clientId}}">
                            <input type="hidden" name="empleoId" id="empleoId" value="{{jobObj.jobId}}">
                            <input type="hidden" name="referenciaId" id="referenciaId" value="{{referenceObj.referenceId}}">

                            <fieldset>
                                <legend>Detalles Personales</legend>
                                <div class="row">
                                    <div class="col-md-2 text-center">
                                        <label for="imgInput">
                                            <img class="imgBox" id="avatar" alt="Imagen del Cliente" src={{client.pfp}} >
                                        </label>
                                        <input type="file" id="imgInput" name="imgInput" accept="image/x-png,image/png,image/jpeg,image/jpg">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="nombres" class="control-label">
                                                    Nombres
                                                </label>
                                                <input type="text" id="nombres" name="nombres" class="form-control" placeholder="Nombres" required value="{{clientObj.firstNames}}">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="apellidos" class="control-label">
                                                    Apellidos
                                                </label>
                                                <input type="text" id="apellidos" name="apellidos" class="form-control" placeholder="Apellidos" required value="{{clientObj.lastNames}}">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="sexo" class="control-label">
                                                    Sexo
                                                </label>
                                                <select id="sexo" name="sexo" class="form-control">
                                                    <option disabled selected="selected" value="Desconocido">Seleccione</option>
                                                    <option value="Femenino">Femenino</option>
                                                    <option value="Masculino">Masculino</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="cedula" class="control-label">
                                                    Cedúla
                                                </label>
                                                <input type="text" id="cedula" name="cedula" class="form-control" placeholder="Cédula" value="{{clientObj.idCard}}">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="fechaNacim" class="control-label">
                                                    Fecha de Nacimiento
                                                </label>
                                                <input type="date" id="fechaNacim" name="fechaNacim" class="form-control" value="{{clientObj.birthDate}}">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="celular" class="control-label">
                                                    Celular
                                                </label>
                                                <input type="tel" id="celular" name="celular" maxlength="10" minlength="10" class="form-control" placeholder="Celular" value="{{clientObj.cellPhone}}">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="telefono" class="control-label">
                                                    Teléfono
                                                </label>
                                                <input type="tel" id="telefono" name="telefono" maxlength="10" minlength="10" class="form-control" placeholder="Teléfono" value="{{clientObj.phoneNumber}}">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="nacionalidad" class="control-label">
                                                    Nacionalidad
                                                </label>
                                                <input type="text" id="nacionalidad" name="nacionalidad" placeholder="Nacionalidad" class="form-control" value="{{clientObj.nacionality}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="vivienda" class="control-label">
                                            Vivienda
                                        </label>
                                        <select id="vivienda" name="vivienda" class="form-control">
                                            <option disabled value="Desconocido" selected>Seleccione</option>
                                            <option value="Propia">Propia</option>
                                            <option value="Alquiler">Alquiler</option>
                                            <option value="Otra">Otra</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="direccion" class="control-label">
                                            Dirección
                                        </label>
                                        <input type="text" id="direccion" name="direccion" placeholder="Dirección" class="form-control" value="{{clientObj.address}}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="estadoCivil" class="control-label">
                                            Estado Civil
                                        </label>
                                        <select id="estadoCivil" name="estadoCivil" class="form-control">
                                            <option disabled value="Desconocido" selected>Seleccione</option>
                                            <option value="Soltero">Soltero</option>
                                            <option value="Casado">Casado</option>
                                            <option value="Union Libre">Unión Libre</option>
                                            <option value="Divorciado">Divorciado</option>
                                            <option value="Viudo">Viudo</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Empleo</legend>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="empleo" class="control-label">
                                            Empleo
                                        </label>
                                        <select id="empleo" name="empleo" class="form-control">
                                            <option disabled value="Desconocido">Seleccione</option>
                                            <option value="Empleado">Empleado</option>
                                            <option value="Desempleado">Desempleado</option>
                                            <option value="Estudiante">Estudiante</option>
                                            <option value="Otros">Otros</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5" id="nombreTrabajoDiv">
                                        <label for="nombreTrabajo" class="control-label">
                                            Nombre de la Empresa donde labora
                                        </label>
                                        <input type="text" id="nombreTrabajo" name="nombreTrabajo" class="form-control" placeholder="Nombre de la Empresa donde labora" value="{{jobObj.workName}}">
                                    </div>
                                    <div class="col-md-2">
                                        <label for="trabajoIngreso" class="control-label">
                                            Ingreso
                                        </label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="number" id="trabajoIngreso" name="trabajoIngreso" min="0" class="form-control" required value="{{jobObj.workIncome}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="trabajoPosicion" class="control-label">
                                            Posición Desempeñada
                                        </label>
                                        <input type="text" id="trabajoPosicion" name="trabajoPosicion" placeholder="Posición Desempeñada" class="form-control" value="{{jobObj.position}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="trabajoDireccion" class="control-label">
                                            Dirección del Trabajo
                                        </label>
                                        <input type="text" id="trabajoDireccion" name="trabajoDireccion" placeholder="Dirección del Trabajo" class="form-control" value="{{jobObj.workAdress}}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="tiempoLaborando" class="control-label">
                                            Tiempo Laborando
                                        </label>
                                        <input type="text" id="tiempoLaborando" name="tiempoLaborando" placeholder="Tiempo Laborando" class="form-control" value="{{jobObj.timeWorking}}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="trabajoTelefono" class="control-label">
                                            Telefóno del Empleo
                                        </label>
                                        <input type="tel" id="trabajoTelefono" name="trabajoTelefono" maxlength="10" minlength="10" placeholder="Teléfono" class="form-control" value="{{jobObj.phoneNumber}}">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Referencia Personal</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="referencia" class="control-label">
                                                Referencia
                                            </label>
                                            <input type="text" id="referencia" name="referencia" class="form-control" placeholder="Referencia" value="{{referenceObj.reference}}">
                                        </div>
                                    </div>
                                    <div class="col-md-2 ">
                                        <div class="form-group">
                                            <label for="telefonoReferencia" class="control-label">
                                                Teléfono
                                            </label>
                                            <input type="tel" id="telefonoReferencia" name="telefonoReferencia" class="form-control" maxlength="10" minlength="10" placeholder="Teléfono" value="{{referenceObj.phoneNumber}}">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div style="text-align: center">
                                <button type="submit" class="defBtn" style="text-align: center">{{client.action}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    <!--footer-->
    <div class="footer">
        <p>&copy; 2018 Glance Design Dashboard. All Rights Reserved | Design by <a href="/https://w3layouts.com/" target="_blank">w3layouts</a></p>
    </div>
    <!--//footer-->
    </div>
</div>

<script src="/js/classie.js"></script>
<script>
    let menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;

    showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
    };

    function disableOther( button ) {
        if( button !== 'showLeftPush' ) {
            classie.toggle( showLeftPush, 'disabled' );
        }
    }
</script>
<script src="/js/bootstrap3.3.7.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/commonData.js" type="text/javascript"></script>
<script src="/js/clientTemplateHandler.js" type="text/javascript"></script>
</body>
</html>