<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Glance Design Dashboard an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/css/bootstrap3.3.7.min.css" rel='stylesheet' type='text/css' media="screen"/>
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/css/responsive.bootstrap.min.css">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <script src="/js/jquery3.3.1.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/custom.js"></script>
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        <aside class="sidebar-left">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="/home"><span class="fa fa-area-chart"></span>CueTori</a></h1>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="sidebar-menu">
                        <li class="header">Menú</li>
                        <li class="treeview">
                            <a href="/home">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="/rutas/clientes">
                                <i class="fa fa-group"></i> <span>Clientes</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="/rutas/prestamos">
                                <i class="fa fa-money"></i> <span>Préstamos</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="/rutas/pagos">
                                <i class="fa fa-list-alt"></i> <span>Pagos Realizados</span>
                            </a>
                        </li>
                        <li class="header">Accesibilidad</li>
                        <li>
                            <a href="/rutas/perfil">
                                <i class="fa fa-user"></i><span>Mi Perfil</span>
                            </a>
                        </li>
                        <li>
                            <a href="/rutas/usuarios">
                                <i class="fa fa-users"></i><span>Usuarios</span>
                            </a>
                        </li>
                        <li>
                            <a href="/rutas/roles">
                                <i class="fa fa-cog"></i><span>Roles & Permisos</span>
                            </a>
                        </li>
                        <li class="header">Extras</li>
                        <li>
                            <a href="/rutas/bancos">
                                <i class="fa fa-bank"></i><span>Bancos</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
    </div>
    <!--left-fixed -navigation-->

    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <div class="profile_details_left"><!--notifications of menu start -->
                <ul class="nofitications-dropdown">
                    <li class="dropdown head-dpdn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue" id="notNum">0</span></a>
                        <ul class="dropdown-menu" id="notificaciones">

                        </ul>
                    </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <!--notification menu end -->
            <div class="clearfix"> </div>
        </div>
        <div class="header-right">
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
                                <span class="prfil-img"><img src="/images/profile128.png" id="pfp" alt="Imagen del Usuario"></span>
                                <div class="user-name">
                                    <p id="username"></p>
                                    <span id="role"></span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="app">

    <div id="myModal" class="modal fade" role="dialog" tabindex="-1">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <div class="row">
                        <div class="col-sm-8">
                            <h5 class="modal-title">Previsualizar Amortización</h5>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label class="control-label">Monto</label>
                            <input v-model="monto" name="monto" type="number" min="0" placeholder="Monto a Prestar" class="form-control" required>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Interés</label>
                            <input v-model="interes" name="interes" type="number" step="0.01" min="0" max="999" placeholder="0" class="form-control" required>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Cantidad de Cuotas</label>
                            <input v-model="cuotas" name="cuotas" type="number" min="0" placeholder="0 " class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="control-label">Modalidad de Pago</label>
                            <select v-model="modalidad" class="form-control">
                                <option value="1">Diario</option>
                                <option value="7">Semanal</option>
                                <option value="15">Quincenal</option>
                                <option value="30">Mensual</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Amortización</label>
                            <select v-model="amort" class="form-control">
                                <option value="1">Cuotas Fijas</option>
                                <option value="2">Disminución de Cuotas</option>
                                <option value="3">Interés fijo</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-12">
                            <table v-html="tabla" class="table table-striped"></table>
                        </div>
                        <label v-text="total"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-myModal btn-md">Calcular</button>-->
                    <button type="button" data-dismiss="modal" class="btn btn-myModal btn-md">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="page-wrapper">
        <div class="main-page">
            <div class="forms">
                <div class="form-grids row widget-shadow" data-example-id="basic-forms">
                    <div style="vertical-align: middle">
                        <div class="form-title">
                            <h4>{{loan.title}}</h4>
                        </div>
                        <form method="post" action="{{loan.form}}">
                            <fieldset>
                                <legend>Detalles del Préstamo</legend>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="cliente" class="control-label">
                                                Cliente
                                            </label>
                                            <input list="losClientes" id="cliente" name="cliente" class="form-control" placeholder="Clientes" required/>
                                            <datalist id="losClientes">
                                            </datalist>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="amortizacion" class="control-label">
                                                Amortización
                                            </label>
                                            <select v-model="amort" id="amortizacion" name="amortizacion" class="form-control">
                                                <option value="1">Cuotas Fijas</option>
                                                <option value="2">Disminución de Cuotas</option>
                                                <option value="3">Interés Fijo</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="monto" class="control-label">
                                                Monto a Prestar
                                            </label>
                                            <input v-model.number="monto" type="number" min="0" id="monto" name="monto" class="form-control" placeholder="Monto" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="interes" class="control-label">
                                                Interés
                                            </label>
                                            <input v-model.number="interes" type="number" step="0.01" min="0" max="999" id="interes" name="interes" class="form-control" placeholder="Interés" required>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="cuotas" class="control-label">
                                                Cantidad de Cuotas
                                            </label>
                                            <input v-model.number="cuotas" type="number" min="0" id="cuotas" name="cuotas" class="form-control" placeholder="Cantidad de Cuotas" required>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="modalidad" class="control-label">
                                                Modalidad de Pago
                                            </label>
                                            <select v-model="modalidad" id="modalidad" name="modalidad" class="form-control">
                                                <option value="1">Diario</option>
                                                <option value="7">Semanal</option>
                                                <option value="15">Quincenal</option>
                                                <option value="30">Mensual</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="fecha" class="control-label">
                                                Fecha
                                            </label>
                                            <input type="date" id="fecha" name="fecha" class="form-control" placeholder="Fecha" required value="{{loanObj.date}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="comentario" class="control-label">
                                                Comentario
                                            </label>
                                            <textarea id="comentario" name="comentario" class="form-control preTextArea" placeholder="Comentario">{{loanObj.comment}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Detalles del Codeudor</legend>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="codeudor" class="control-label">
                                                Codeudor
                                            </label>
                                            <input type="text" id="codeudor" name="codeudor" class="form-control" placeholder="Codeudor" value="{{debtorObj.codebtor}}">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="telefonoCodeudor" class="control-label">
                                                Teléfono
                                            </label>
                                            <input type="tel" id="telefonoCodeudor" name="telefonoCodeudor" class="form-control" maxlength="10" minlength="10" placeholder="Teléfono" value="{{debtorObj.phoneNumber}}">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="direccionCodeudor" class="control-label">
                                                Dirección
                                            </label>
                                            <input type="text" id="direccionCodeudor" name="direccionCodeudor" class="form-control" placeholder="Dirección" value="{{debtorObj.address}}">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row" style="text-align: center">
                                <button type="submit" class="defBtn">{{loan.action}}</button>
                                <button type="button" class="defBtn" data-toggle="modal" data-target="#myModal">Amortización</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <p>&copy; 2018 Glance Design Dashboard. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
    </div>
    <!--//footer-->

    </div>
</div>
<script src="/js/classie.js"></script>
<script>
    let menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            showLeftPush = document.getElementById( 'showLeftPush' ),
            body = document.body;

    showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
    };

    function disableOther( button ) {
        if( button !== 'showLeftPush' ) {
            classie.toggle( showLeftPush, 'disabled' );
        }
    }
</script>
<script src="/js/bootstrap3.3.7.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.slimscroll.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/jquery.scrollTo.js"></script>
<script src="/js/commonData.js" type="text/javascript"></script>
<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script>
    let loanData = [];
    {{#each loanObj}}
        loanData.push('{{this}}');
    {{/each}}
</script>
<script src="/js/loanTemplateHandler.js" type="text/javascript"></script>
</body>
</html>